<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mega Datawarehouse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="principal">
    <div class="adjust"></div>
    <div class="imagen">
      <ion-img src="assets/icon/mega.png"></ion-img>
    </div>
    <div class="adjust"></div>
  </div>

  <div class="principal">
    <ion-label class="label">TABLERO DE VENTAS Y VIDAS CAMBIADAS</ion-label>
  </div>

  <div class="principal">
    <iframe id="show2" width="1004px" height="831px"></iframe>
  </div>

  <div class="principal">
    <ion-label class="label">TABLERO TOP CLIENTES Y PRODUCTOS</ion-label>
  </div>

  <div class="principal">
    <iframe id="show" width="1004px" height="831px"></iframe>
  </div>

</ion-content>
