<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex; justify-content: center;">
    <script type='text/javascript' src='http://192.168.25.17/javascripts/api/viz_v1.js'>

    </script>
    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
  
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
  
    <param name='host_url' value='http%3A%2F%2F192.168.25.17%2F' /> 
    <param name='embed_code_version' value='3' /> 
    <param name='site_root' value='' />
    <param name='name' value='Datosgenerales&#47;Dashboard2&#47;9a596188-7329-460f-90dc-8c72c342e49e&#47;a6b224e7-35e9-4640-a6cb-e12eabca430e' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
    <param name='showAppBanner' value='false' />
    <param name='ticket' value={{ticket}} />
  
    </object>
    </div>
  </div>

  <ion-label>{{ticket}}</ion-label>

</ion-content>
