.imagen {
  align-items: center;
  padding: 20px 10px 20px 20px;
  max-width: 20%;
  min-width: 50px;
  min-height: 20%;
  position: relative;
  display: inline-block;
}

.adjust {
  display: inline-block;
  width: 25%;
  height: 25%;
}

.principal {
  padding: 20px 10px 20px 20px;
  text-align: center;
}

.label {
  font-size: 30px;
  font-weight: bold;
}
